.customize-control-title {
	margin-top: 15px;
	color: rgb(0, 142, 214);
}

.azera_shop_repeater_container,
.azera_shop_general_control_repeater_container {
	float: left;
	width: 100%;
	padding: 5px 0;
	cursor: move;
}

.azera_shop_repeater_container .azera-shop-box-content-hidden,
.azera_shop_general_control_repeater_container .azera-shop-box-content-hidden {
	padding: 5px;
	padding-top: 0;
	border: 1px solid #dfdfdf;
	border-top: 0;
}

button.azera_shop_remove_field {
	display: inline-block;
	float: right;
	width: 25% !important;
	height: 57px !important;
	line-height: 17px !important;
	white-space: initial !important;
}

button.azera_shop_general_control_remove_field {
	width: 100%;
	margin-top: 10px!important;
}

button.azera_shop_general_control_remove_field:hover {
	border: 0;
	color: #fff!important;
	background-color: #00a0d2!important;
}

.azera_shop_repeater_container .azera_shop_icon_link,
.azera_shop_general_control_repeater_container .azera_shop_text_control,
.azera_shop_general_control_repeater_container .azera_shop_link_control {
	width: 100% !important;
	margin: 3px 0 0 !important;
}

.azera_shop_repeater_container .azera_shop_icons,
.azera_shop_general_control_repeater_container .azera_shop_icon_control {
	width: 100%;
	margin: 0;
	padding: 0;
}

#azera_shop_new_field,
#azera_shop_general_control_new_field {
	width: 100%;
}

.customize-control-widget_form .widget-control-save {
	display: block !important;
}

.azera_shop_our_services_image_control {
	display: none;
}

.azera_shop_our_services_icon_control {
	display: none;
}

.azera_shop_general_control_repeater_container .azera-shop-box-content-hidden {
	display: none;
}

.azera-shop-box-content-hidden {
	background-color: #fff;
}

.azera-shop-customize-control-title {
	overflow: hidden;
	height: 40px;
	padding: 0 10px !important;
	border: 1px solid #dfdfdf;
	border-radius: 3px;
	color: #00a0d2;
	background-color: #f1f1f1;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#ececec));
	background-image: -webkit-linear-gradient(top, #f9f9f9, #ececec);
	background-image: -webkit-gradient(linear, left bottom, left top, from(#f9f9f9), to(#ececec));
	background-image: -webkit-linear-gradient(bottom, #f9f9f9, #ececec);
	background-image: linear-gradient(to top, #f9f9f9, #ececec);
	-webkit-box-shadow: inset 0 1px 0 #fff;
	box-shadow: inset 0 1px 0 #fff;
	font-weight: bold;
	line-height: 40px !important;
	text-align: center;
	cursor: move !important;
}

.azera_shop_image_control .custom_media_button_azera_shop {
	margin-top: 5px;
}

#customize-control-azera_shop_contact_form_shortcode {
	display: none;
}

.azera_shop_radio_control {
	margin-top: 0;
}

.azera_shop_general_control_repeater_container .azera-shop-box-content-hidden {
	padding-top: 5px;
}

.azera-shop-image-picker li {
	display: inline-block;
	margin-right: 7px;
	cursor: pointer;
}

.azera-shop-image-picker li:nth-child(even) {
	margin-right: 0;
}

#customize-control-azera_shop_colors_management {
	text-align: center;
}
